@import url("https://fonts.googleapis.com/css2?family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --link-color: #262ed3;

  /* Override the default sans-serif font */
  --font-family-sans:
    "Source Sans 3", -apple-system, BlinkMacSystemFont, sans-serif;

  /* Override the monospace (code block) font */
  --font-family-mono: "Iosevka Charon Mono", monospace;
}
