$yel: hsla(77, 100%, 77%, 1);
$pnk: #DD9990;
$rd: #CD1515;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,300;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;;
}

.App {
  font-family: sans-serif;
  text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: $pnk;
}


.control {
    cursor: pointer;
    &:hover .circle-click  {
	background: $yel;
    }
}

.circle {
    width: 80px;
    height: 80px;
    position: absolute;
    left: -40px;
    right: 96.25%;
    top: 12vh;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #CD1515;
    &-click {
	@extend .circle;
	border: 0px;
	background-color: #fff;
    }
    &-speaking {
	@extend .circle;
	border: 0px;
	background-color: #fff;
    }
}



.status {
    // border: 1px solid #fff;
    position: absolute;
    width: 100vw;
    left: 20px;
    right: 96.25%;
    top: 6vh;
    font-family: IBM Plex Mono, monospace;
    font-style: italic;
    font-weight: light;
    font-size: 5vh;
    line-height: px;
    text-indent: 10px;
    text-align: left;
    color: #063746;
    z-index: 1;
    &-talk {
	@extend .status;
        font-weight: bold;
    }

}


.glow-on-hover {
    width: 220px;
    height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    content: '';
    background: linear-gradient(45deg,  #002bff, #7a00ff, #ff00c8, #ff0000, #ff7300, #ff00c8, #7a00ff, #002bff,);
    top: -2px;
    left:-2px;
    background-size: 400%;
    opacity: 1;
    color: #fff;
    font-size: 2rem;
    border: none;
    outline: none;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes bordering {
  0% { box-shadow: 0 0 0px $yel; }
  50% { box-shadow: 0 0 0px 12vh $yel; }
  100% { box-shadow: 0 0 0px $yel; }
}

@keyframes bordersize {
    0% { box-shadow:  0 0 0px #fff; }
    50% {box-shadow:  0 0 0px 12vh #fff; }
    100% { box-shadow:  0 0 0px #fff;}
}

[data-xstate] {
  justify-self: stretch;
  align-self: stretch;
  border: none;
}
