$yel: hsla(77, 100%, 77%, 1);
$pnk: hsla(25, 100%, 77%, 0.7);
$rd: #CD1515;
$mono: IBM Plex Mono, monospace;
$dark: #063746;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,300;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;;
}

.App {
  font-family: $mono;
  text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: $pnk;
}

.control {
    position: relative;
    height: 40vh;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    &:hover .circle-click  {
	background: $yel;
    }
    .prompt  {
	padding: 10px 45px;
	text-align: left;
    }
    .circle {
	position: absolute;
	width: 80px;
	height: 80px;
	left: -40px;
	border-radius: 50px;
	cursor: pointer;
	border: 0;
	background-color: #CD1515;
	z-index: 0;
	&-click {
	    @extend .circle;
	    border: 0px;
	    background-color: #fff;
	}
	&-speaking {
	    @extend .circle;
	    border: 0px;
	    background-color: #fff;
	    animation: bordering 2s infinite;
	}
	&-recognising {
	    @extend .circle;
	    animation: bordersize 2s infinite;
	}
    }
    .status {
	// border: 1px solid #fff;
	bottom: 0;
	padding-left: 50px;
	padding-right: 20px;
	width: 100vw;
	font-family: IBM Plex Mono, monospace;
	font-style: italic;
	font-weight: light;
	font-size: 20pt;
	text-align: left;
	color: $dark;
	z-index: 1;
	&-talk {
	    @extend .status;
	}
	.status-text {
	    z-index: 5;
	    position: relative;
	    white-space: normal;
	}
    }
}



.select-wrapper {
    margin-left: 40px;
    margin-right: 20px;
    top: 45vh;
    position: absolute;
    // display: none;
}
.select {
    list-style-type: none;
    padding: 0;
    margin: 0;
    // border: 1px dotted red;
    display: flex;
    flex-flow: row wrap;
    align-items: space-around;
    justify-content: flex-start;
}


.flex {
    // border: 1px solid #ddd;
    margin: 0.5em;
    padding: 1em;
    flex-basis: 20vw;
    cursor: pointer;
    border-radius: 5px;
    background: #fff;
    border: 2px solid $dark;
}
.flex:hover {
    background: $yel;
}
img {
    object-fit: contain;
    width: 100%;
    border-radius: 5px;

}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes bordering {
  0% { box-shadow: 0 0 0px hsla(77, 100%, 77%, 0.5); }
  50% { box-shadow: 0 0 0px 8vh hsla(77, 100%, 77%, 0.9); }
  100% { box-shadow: 0 0 0px hsla(77, 100%, 77%, 0.5); }
}

@keyframes bordersize {
    0% { box-shadow:  0 0 0px rgba(255, 255, 255, 0.5); }
    50% {box-shadow:  0 0 0px 8vh rgba(255, 255, 255, 0.9);; }
    100% { box-shadow:  0 0 0px rgba(255, 255, 255, 0.5);;}
}

[data-xstate] {
  justify-self: stretch;
  align-self: stretch;
  border: none;
}
