.App {
  font-family: sans-serif;
  text-align: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
  
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    content: '';
    background: linear-gradient(45deg,  #002bff, #7a00ff, #ff00c8, #ff0000, #ff7300, #ff00c8, #7a00ff, #002bff,);
    top: -2px;
    left:-2px;
    background-size: 400%;
    opacity: 1;
    color: #fff;
    font-size: 2rem;
    border: none;
    outline: none;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes bordering {
  0% { box-shadow: 0 0 -40px #c4a300; }
  40% { box-shadow: 0 0 40px #c4a300; }
  60% { box-shadow: 0 0 40px #c4a300; }
  100% { box-shadow: 0 0 -40px #c4a300; }
}

[data-xstate] {
  justify-self: stretch;
  align-self: stretch;
  border: none;
}
